<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rail Aid - Donate train tickets</title>

    {% assets "css_all" %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></script>
    {% endassets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Book Your Journey And Donate</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#whatwedo">Our Values</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Donate train tickets</h1>
                        <h3>Share your mobility with those who need it. This is Rail Aid.</h3>
                        <hr class="intro-divider">
                        <form class="form-inline">
                          <div class="form-group">
                            <label for="from">From</label>
                            <input type="text" class="form-control" id="from" placeholder="London">
                          </div>
                          <div class="form-group">
                            <label for="destination">To</label>
                            <input type="text" class="form-control" id="destination" placeholder="York">
                          </div>
                          <a class="btn btn-default" href="#donate-block" id="book-button"><i class="fa fa-search fa-fw"></i><span class="network-name">Find + Donate</span></a>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
		<div class="container">
			<div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <hr class="intro-divider">
			
							<div class="journey1">
								<h3> 22/11/2015  13:30 </h3>
								<div class="journey1Detail" style="display:none">
								<!-- 22/11/2015  Now() StartTime EndTime ARROW TO SELECT) -->
								<div/>"
							</div>
							
						
							<div class="journey2">
								<h3> 22/11/2015  13:30 </h3>
								<div class="journey2Detail" style="display:none">
								<!-- 22/11/2015  Now() StartTime EndTime ARROW TO SELECT) -->
								<div/>"
							
							</div>
							<div class="journey3">
							<h3> 22/11/2015  13:30 </h3>
								<div class="journey3Detail" style="display:none">
								<!-- 22/11/2015  Now() StartTime EndTime ARROW TO SELECT) -->
								<div/>"
							</div>
							
						</div>
					</div>                                                                                                           
                </div>
            </div>
		</div>
    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <!-- Donation -->
    <div class="content-section-b" id="donate-block" hidden >
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-push-1 lead">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>

                    <div class="row">
                        <form method="POST" action="{{ url_for("paypal_process") }}" role="form">
                            <label for="amount-homeless">
                                How much do you want to give ?
                            </label>
                            <div class="input-group currency-input">
                                <span class="input-group-addon">£</span>
                                <input type="text" id="total-amount" value="4" class="form-control"/>
                            </div>
                            <hr/>
                            <label>How do you want to dispatch it ?</label>
                            <div class="row donation-row">
                                <div class="col-md-2 col-xs-3">
                                    <label for="amount-homeless">Homeless</label>
                                </div>
                                <div class="col-md-10 col-xs-9">
                                    <input type="text" name="amount-homeless" class="donation-value" data-slider-id='slider-homeless' type="text" data-slider-min="0" data-slider-max="4" data-slider-step="0.01" data-slider-value="1" value="1" data-slider-handle="triangle"/>
                                </div>
                            </div>

                            <div class="row donation-row">
                                <div class="col-md-2 col-xs-3">
                                    <label for="amount-refugees">Refugees</label>
                                </div>
                                <div class="col-md-10 col-xs-9">
                                    <input type="text" name="amount-refugees" class="donation-value" data-slider-id='slider-refugees' type="text" data-slider-min="0" data-slider-max="4" data-slider-step="0.01" data-slider-value="1" value="1" data-slider-handle="triangle"/>
                                </div>
                            </div>

                            <div class="row donation-row">
                                <div class="col-md-2 col-xs-3">
                                    <label for="amount-orphans">Orphans</label>
                                </div>
                                <div class="col-md-10 col-xs-9">
                                    <input type="text" name="amount-orphans" class="donation-value" data-slider-id='slider-orphans' type="text" data-slider-min="0" data-slider-max="4" data-slider-step="0.01" data-slider-value="1" value="1" data-slider-handle="triangle"/>
                                </div>
                            </div>

                            <div class="row donation-row">
                                <div class="col-md-2 col-xs-3">
                                    <label for="amount-poverished">Poverished</label>
                                </div>
                                <div class="col-md-10 col-xs-9">
                                    <input type="text" name="amount-poverished" class="donation-value" data-slider-id='slider-poverished' type="text" data-slider-min="0" data-slider-max="4" data-slider-step="0.01" data-slider-value="1" value="1" data-slider-handle="triangle"/>
                                </div>
                            </div>

                            <input type="submit" value="Donate" class="pull-right btn btn-info network-name"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<a  name="whatwedo"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Mobility = Freedom</h2>
                    <p class="lead">We are a non-profit organisation enabling disadvantaged individuals in the UK to enjoy the freedom of taking the train. Through our network of charity organisations we ensure that donations by travellers and the railway industry will end up in the hands of people that cannot afford to travel by train. These include:
                    <ul>
                        <li>Unemployed and/or homeless people</li>
                        <li>Orphans and impoverished children</li>
                        <li>Refugees</li>
                    </ul></p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/static/img/a.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Your Tickets = Their Tickets</h2>
                    <p class="lead">Order your train tickets as usual but add a donation. This will result in tickets for the most misfortunate people who cannot afford it. Charity organisations make sure that each of them is carefully selected.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/static/img/b.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Good CSR = Everybody Wins</h2>
                    <p class="lead">Train Operating Companies could also contribute as part of their Corporate Social Responsibility strategies. They provide seats for these groups of people, ensuring that trains are at optimal capacity.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/static/img/c.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container c -->

    </div>

    <div class="content-section-d">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Donation = Transparant Feedback</h2>
                    <p class="lead">At every donation, you could specify where the money will end up. Here about specifying which individuals, how much. Also: the user stories, making sure that they end up well</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/static/img/d.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-d -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Spread the word</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://facebook.com" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#whatwedo">Our Values</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Rail Aid 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    {% assets "js_all" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</body>

</html>
